Repository thelotusgg/babylon, pull requests merged in 2021-04, with the labels that each got.

#11 Fix README.md
  .idea/vcs.xml
  README.md
Labels: bug, documentation

#36 #35 add backend build script
  .github/workflows/ci-backend.yml
  backend/package.json
Labels: bug

#42 added github action build badge
  README.md
Labels: documentation

#46 Add vue router
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/views/About.vue
  frontend/src/views/Home.vue
Labels: frontend

#49 #22 add tailwind css
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.vue
  frontend/src/assets/styles/index.css
  frontend/src/main.ts
  frontend/tailwind.config.js
Labels: frontend

#53 #52 add passport.js
  backend/package-lock.json
  backend/package.json
Labels: enhancement

#68 Feature#54
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/misc.xml
  backend/.eslintrc.js
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/tsconfig.build.json
  backend/tsconfig.json
Labels: backend, enhancement

#73 #72 add Font Awesome
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/main.ts
Labels: feature, frontend

#104 Feature#102
  frontend/.eslintrc.js
  frontend/src/components/AppCard.vue
  frontend/src/views/Dashboard.vue
  frontend/tailwind.config.js
Labels: enhancement, frontend

#108 Rework Navbar #103
  frontend/src/App.vue
  frontend/src/components/AppNavbar.vue
  frontend/src/components/AppNavbarMenu.vue
  frontend/src/components/AppNavbarMenuItem.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/views/Dashboard.vue
  frontend/tailwind.config.js
Labels: enhancement, frontend

#114 Feature#107
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/components/AppCard.vue
  frontend/src/components/AppCardList.vue
  frontend/src/components/AppNavbar.vue
  frontend/src/components/AppNavbarMenu.vue
  frontend/src/components/AppNavbarMenuItem.vue
  frontend/src/views/Dashboard.vue
  frontend/src/views/Project.vue
Labels: feature, frontend

#118 #116 Rework card components
  frontend/src/components/AppCard.vue
  frontend/src/components/AppCardList.vue
  frontend/src/components/AppTextCard.vue
  frontend/src/views/Dashboard.vue
Labels: enhancement, frontend
